[Desktop Entry]
Version=0.17.6
Name=Estx Core Testnet
Comment=Connect to the Estx P2P Network Testnet
Exec=estx-qt -testnet %u
Terminal=false
Type=Application
Icon=estxtestnet128
MimeType=x-scheme-handler/estx;
Categories=Network;
StartupWMClass=Estx-qt-testnet
Name[en_US]=estx-qt-testnet
